body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
}

#section {
    width: 475px;
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
    height: 300px;
}

article {
    background: #777;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    height: 190px;
    margin-top: 15px;
    }

h1 {
    background: #ebebeb;
    padding: 20px;
    position: relative;
    bottom: 200px;
    width: 400px;
    height: 20px;
    left: 15px;
}

p {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
    position: relative;
    bottom: 200px;
    height: 20px;
    left: 15px;
    width: 400px;
}

div {
    float: left;
}

aside {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
    width: 375px;
    left: 550px;
    position: absolute;
    height: 300px;
}

footer {
    clear: both;
    overflow: auto;
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
}
